<!DOCTYPE html>
<html>
<head>
  <title>interviewBOT</title>
  <link rel="stylesheet" href="chatbot.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <img src="img/interviewbotlogo.png" alt="">
    <nav>
      <ul>
        <li class="nav-item">
         <a class="nav-link" data-value="home" href="/">Home</a>
       </li>
       <li class="nav-item">
         <%if(userId) { %>
           <a class="nav-link " data-value="interviews" href="/interview?userId=<%= userId %>">Interviews</a>
         <% } else { %>
           <a class="nav-link " data-value="interviews" href="/interview">Interviews</a>
         <% } %>
       </li>
       <li class="nav-item">
         <a class="nav-link " data-value="login" href="/login">Log In</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " data-value="signup" href="/signup">Sign Up</a>
       </li>
      </ul>
    </nav>
  </header>
  <div class="description">
    <h2>Things to keep in mind for the candidate:
    <p>Stay professional. Do not drop the formality of the conversation.</p>

    <p>Give detailed answers to the interview questions asked.</p>

    <p>Keep in mind that this conversation is holden a written record that is going into your candidate file.</p>

    <p>The company's recruiters and talent acquisition specialist will be able to see how you have conducted yourself during the interview, so keep a professional tone.</p>

    <p>Keep your responses to questions clear and concise.</p>

    <p>Proofread responses. Watch your spelling and make sure your responses align with both your resume and the requirements stated in the job description</p>
  </div>
  <!-- <main>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat libero eget magna commodo, quis pharetra tellus pretium. Sed viverra ante in mauris finibus dapibus. Maecenas congue dapibus nulla, eu gravida orci consequat eu. Phasellus nec nunc malesuada, aliquam massa ac, accumsan metus. Fusce sed dignissim lectus. Nunc elit tellus, sollicitudin ac accumsan ut, egestas et dui. Maecenas aliquam est a ligula scelerisque, in aliquam neque sodales. Nullam condimentum euismod dictum. Curabitur non ex elementum, pretium enim ut, ornare ipsum.</p>
  </main> -->
  <!-- <div class="description">
    <h1>Change the way your team seeks out the best talent
    <p>interviewBOT is a chatbot built with the best methods in artificial intelligence to optimize recruiting efforts for fast, growing companies. Save time with a now virtual screening to speed up the onboarding process and meet hiring needs for your company.</p>
    <button class="btn btn-outline-secondary btn-lg"><a href="mailto:samcasseusdev@gmail.com">Contact the developer</a></button></h1>
  </div> -->
  <!-- <div class="about" id="about">About</div>
  <div class="portfolio" id="portfolio">Portfolio</div>
  <div class="blog" id="blog">Blog</div>
  <div class="team" id="team">Team</div>
  <div class="contact" id="contact">Contact</div>
  <div class="container"> -->
    <!-- <div class="jumbotron text-center">
      <h1>interviewBOT</h1>
      <p>Login or Signup:</p>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div> -->
    <a id="toggler" href="#toggle-content">
      <img class="chatter" src="https://previews.123rf.com/images/goodzone95/goodzone951803/goodzone95180300023/96668201-chatbot-icon-cute-robot-working-behind-laptop-modern-bot-sign-design-smiling-customer-service-robot-.jpg" alt="">
    </a>
    <div id="toggle-content">
      <div id="chat-window">
        <div id="chat-history">
          <ul id="message-list"></ul>
        </div>
        <p id="status"></p>
        <input type="text" id="message" placeholder="Say hello to your interviewer">
      </div>
    </div>
    <script type="text/javascript">
      const chatLogId = "<%= logId %>"
    </script>
    <script src="main.js"></script>
  </div>
</body>
</html>
