<!DOCTYPE html>
<html>
<head>
  <title>interviewBOT</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>interviewBOT</h1>
      <p>Login or Signup:</p>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>
    <a id="toggler" href="#toggle-content">
      <img class="chatter" src="https://previews.123rf.com/images/goodzone95/goodzone951803/goodzone95180300023/96668201-chatbot-icon-cute-robot-working-behind-laptop-modern-bot-sign-design-smiling-customer-service-robot-.jpg" alt="">
    </a>
    <div id="toggle-content">
      <div id="chat-window">
        <div id="chat-history">
          <ul id="message-list"></ul>
        </div>
        <p id="status"></p>
        <input type="text" id="message" placeholder="Say hello to your interviewer">
      </div>
    </div>
    <script type="text/javascript">
      const chatLogId = "<%= logId %>"
    </script>
    <script src="main.js"></script>
  </div>
</body>
</html>
