<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>interviewBOT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="home.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  </head>
  <body>
    <header>
      <img src="img/interviewbotlogo.png" alt="">
      <nav>
        <ul>
          <li class="nav-item">
           <a class="nav-link" data-value="home" href="/">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link " data-value="interviews" href="/interview">Interviews</a>
         </li>
         <li class="nav-item">
           <a class="nav-link " data-value="login" href="/login">Log In</a>
         </li>
         <li class="nav-item">
           <a class="nav-link " data-value="signup" href="/signup">Sign Up</a>
         </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <% for(var i=0;i<chatLogs.length;i++) { %>
        <div class="interviewCard">
          <h3>Interview <%= i + 1 %></h3>
          <div class="responses">
            <ul>
              <% for(var j=0;j<chatLogs[i].responses.length;j++) { %>
                <li><%= chatLogs[i].responses[j] %></li>
              <% } %>
            </ul>
          </div>
        </div>
      <% } %>
    </div>
  </body>
</html>
