<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>interviewBOT</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="homepage.css">
  <link rel="stylesheet" href="log.css">
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <img src="img/interviewbotlogo.png" alt="">
    <nav>
      <ul>
        <li class="nav-item">
          <a class="nav-link" data-value="home" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-value="interviews" href="/interview">Interviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-value="login" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-value="signup" href="/signup">Recruiter Sign Up</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Signup</h1>

      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>

        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

      </div>
    </div>
  </body>
  </html>
