.chatter {
	height:30px;
	width:30px;
}

#toggler {
	position: fixed;
	bottom: 5vh;
	right: 4vw;
}

#toggle-content {
	display: none;
}

#chat-window{
	margin-left: 20px;
	margin-top: 20px;
	border:1px solid #dddddd;
	position: fixed;
	height: 450px;
	width: 25%;
	bottom: 6vh;
	right: 7vw;
	border-radius: 20px;
	background-color: #F6F6F6;
}

#chat-history{
	height: calc(100% - 75px);
}

#chat-history ul{
	padding: 20px;
	margin: 0;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
	color: black;
}

#chat-history ul li {
	background-color: #CEE4FB;
	font-size: 18px;
}

#message{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	width: 98%;
	padding: 2px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #eee;
	font-size: 20px;
}

.message{
	list-style: none;
	margin-bottom:10px;
	font-size: 25px;
}

#status{
	padding-left: 20px;
	color: black;
}
